services:
  - type: web
    name: dba-laravel
    runtime: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: sqlite
      - key: APP_KEY
        generateValue: true
      - key: APP_URL
        value: https://dba-laravel.onrender.com
    autoDeploy: true
